{% extends "base.html" %}
{% block title %} Flowers {% endblock %}
{% block header %} 
Flowers
{% endblock %}
{% block content %} 

<center>
    
    <div>
        <button type="button" class="btn btn-primary" onclick="show('fl_Peony')">Peony</button>
        <button type="button" class="btn btn-primary" onclick="show('fl_Daisy')">Daisy</button>
        <button type="button" class="btn btn-primary" onclick="show('fl_Rose')">Rose</button>
    </div>

    <div>
        <br> 
        <spacer type="horizontal" width="100" height="100"> </spacer>
        <br>
    </div>

    <div>
        <!-- <img src="{{ url_for('static', filename='frame.png') }}" position = "relative" id = "fr_Frame"/> -->
        <div>
            <img  src="{{ url_for('static', filename='peony.jpg') }}" position = "relative" id = "fl_Peony" hidden/>
        </div>
        <img src="{{ url_for('static', filename='daisy.jpg') }}" id = "fl_Daisy" hidden/>
        <img src="{{ url_for('static', filename='rose.jpg') }}" id = "fl_Rose" hidden/>
    </div>
</center>

<style>
    body {
      background-image: "{{ url_for('static', filename='frame.png') }}";
    }
</style>

<script>
    function show(flower) {
        var images = document.querySelectorAll('img');
        // Array.from(images).forEach(i => i.setAttribute("hidden", "hidden"));
        for (var i = 0; i < images.length; i++)
        {
            var $img = images[i];
            if ($img.id.startsWith("fl_"))    
            {
                $img.setAttribute("hidden", "hidden")
            }
        }

        let element = document.getElementById(flower);
        let hidden = element.getAttribute("hidden");
        
        element.removeAttribute("hidden");
        // element.setAttribute("width", 400)
        // element.setAttribute("height", 400)
        // element.setAttribute("object-fit", "contain")

        element.setAttribute("style", "object-fit:contain; width:600px;height:600px;border: solid 5px #555")

        console.log('current image:', element.getAttribute('data-id'));
    }
</script>
{% endblock %}

